.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #4a63e7!important;
  align-items: center;
  justify-content: center;
  color: white;
  position: fixed;
  left: 80px;
  top: 10%;
  min-height: 80vh;
  height: 80vh;
  height: min-content;
  display: flex;
}
.app-header ul {
  margin-block: auto;
}

.shadow-dark {
  box-shadow: 0 6px 15px 0 rgb(0 0 0 / 20%);
}
header.app-header, main.container .card{
  border-radius: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main.container {
  margin-block: 10vh;
}
.index_content__6TMNN div {
  padding-top: 10%;
  margin-top: 10%;
}
main.container .card {
  margin-block: 2rem;
  min-height: 80vh;
}
.App-header-coomig {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}